USE [master]
GO
/****** Object:  Database [user3]    Script Date: 27.06.2022 15:22:41 ******/
CREATE DATABASE [user3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\user3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\user3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [user3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [user3]
GO
/****** Object:  Table [dbo].[Charity]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charity](
	[CharityId] [int] IDENTITY(1,1) NOT NULL,
	[CharityName] [nvarchar](50) NOT NULL,
	[CharityDescription] [nvarchar](max) NOT NULL,
	[CharitiLogo] [image] NULL,
 CONSTRAINT [PK_Charity] PRIMARY KEY CLUSTERED 
(
	[CharityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryCode] [nchar](10) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
	[CountryFlag] [image] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[EventName] [nvarchar](50) NOT NULL,
	[EventTypeId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[Cost] [money] NOT NULL,
	[MaxParticipants] [int] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeId] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[EventTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Gender] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Gender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[PositionId] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](50) NOT NULL,
	[PositionDescription] [nvarchar](max) NOT NULL,
	[PayPeriod] [nvarchar](10) NOT NULL,
	[PayRate] [money] NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaceKitOption]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaceKitOption](
	[RaceKitOptionId] [int] IDENTITY(1,1) NOT NULL,
	[RaceKit] [nvarchar](50) NOT NULL,
	[Cost] [money] NOT NULL,
 CONSTRAINT [PK_RaceKitOption] PRIMARY KEY CLUSTERED 
(
	[RaceKitOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[RunnerId] [int] NOT NULL,
	[RegistrationDateTime] [datetime] NOT NULL,
	[RaceKitOptionId] [int] NOT NULL,
	[RegistrationStatusId] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[CharityId] [int] NOT NULL,
	[SponsorshipTarget] [nvarchar](50) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationEvent]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationEvent](
	[RegistrationEventId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[BibNumber] [int] NOT NULL,
	[RaceTime] [datetime] NOT NULL,
 CONSTRAINT [PK_RegistrationEvent] PRIMARY KEY CLUSTERED 
(
	[RegistrationEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationStatus]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationStatus](
	[RegistrationStatusId] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_RegistrationStatus] PRIMARY KEY CLUSTERED 
(
	[RegistrationStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[VolunteerId] [int] NULL,
	[MarathonId] [int] NULL,
	[ReviewMark] [int] NOT NULL,
	[ReviewDescription] [nvarchar](max) NOT NULL,
	[ReviewDateTime] [datetime] NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Runner]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Runner](
	[RunnerId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Img] [image] NULL,
 CONSTRAINT [PK_Runner] PRIMARY KEY CLUSTERED 
(
	[RunnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RunnerMarathon]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RunnerMarathon](
	[RunnerId] [int] NOT NULL,
	[MarathonId] [int] NOT NULL,
	[Position] [int] NULL,
	[Time] [time](7) NULL,
 CONSTRAINT [PK_RunnerMarathon] PRIMARY KEY CLUSTERED 
(
	[RunnerId] ASC,
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[CharityId] [int] NOT NULL,
	[RunnerId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CardName] [nvarchar](50) NOT NULL,
	[CardMonth] [int] NOT NULL,
	[CardYear] [int] NOT NULL,
	[CVCCode] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsorship]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsorship](
	[SponsorshipId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorshipName] [nvarchar](50) NOT NULL,
	[RegistrationId] [int] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Sponsorship] PRIMARY KEY CLUSTERED 
(
	[SponsorshipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[StaffId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[PositionId] [int] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Comments] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[StaffId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[TimesheetId] [int] IDENTITY(1,1) NOT NULL,
	[StaffId] [int] NOT NULL,
	[StartDateTime] [datetime] NOT NULL,
	[EndDateTime] [datetime] NOT NULL,
	[PayAmount] [money] NOT NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[TimesheetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user3]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user3](
	[MarathonId] [int] IDENTITY(1,1) NOT NULL,
	[MarathonName] [nvarchar](50) NOT NULL,
	[CityName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[YearHeld] [int] NOT NULL,
 CONSTRAINT [PK_Marathon] PRIMARY KEY CLUSTERED 
(
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 27.06.2022 15:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[VolunteerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CountryCode] [nchar](10) NOT NULL,
	[Gender] [nchar](1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Volunteer] PRIMARY KEY CLUSTERED 
(
	[VolunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Charity] ON 

INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (1, N'ф', N'ф', NULL)
INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (2, N'Фонд Котят', N'Фонд милых котят', NULL)
INSERT [dbo].[Charity] ([CharityId], [CharityName], [CharityDescription], [CharitiLogo]) VALUES (3, N'Фонд Толстых Белок', N'Фонд милых белочек', NULL)
SET IDENTITY_INSERT [dbo].[Charity] OFF
GO
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'DEU       ', N'Германия', NULL)
INSERT [dbo].[Country] ([CountryCode], [CountryName], [CountryFlag]) VALUES (N'RUS       ', N'Россия', NULL)
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [EventName], [EventTypeId], [MarathonId], [StartDateTime], [Cost], [MaxParticipants]) VALUES (4, N'Веселые старты-42', 1, 1, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 88.0000, 1000)
INSERT [dbo].[Event] ([EventId], [EventName], [EventTypeId], [MarathonId], [StartDateTime], [Cost], [MaxParticipants]) VALUES (5, N'Веселые старты-21', 2, 1, CAST(N'2021-01-02T00:00:00.000' AS DateTime), 60.0000, 1000)
INSERT [dbo].[Event] ([EventId], [EventName], [EventTypeId], [MarathonId], [StartDateTime], [Cost], [MaxParticipants]) VALUES (6, N'Веселые старты-5', 3, 1, CAST(N'2021-01-03T00:00:00.000' AS DateTime), 50.0000, 1000)
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (1, N'42km Полный забег')
INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (2, N'21km Полный забег')
INSERT [dbo].[EventType] ([EventTypeId], [EventTypeName]) VALUES (3, N'5km Малый забег')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
INSERT [dbo].[Gender] ([Gender]) VALUES (N'Ж')
INSERT [dbo].[Gender] ([Gender]) VALUES (N'М')
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (1, N'ф', N'ф', N'100', 0.0000)
INSERT [dbo].[Position] ([PositionId], [PositionName], [PositionDescription], [PayPeriod], [PayRate]) VALUES (2, N'asd', N'asd', N'120', 2.0000)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[RaceKitOption] ON 

INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKit], [Cost]) VALUES (1, N'браслет+нагрудник А+доп предметы', 100.0000)
INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKit], [Cost]) VALUES (2, N'нагрудник Б+кроссовки+браслет', 80.0000)
INSERT [dbo].[RaceKitOption] ([RaceKitOptionId], [RaceKit], [Cost]) VALUES (3, N'фирменные носки+браслет+нагрудник И', 60.0000)
SET IDENTITY_INSERT [dbo].[RaceKitOption] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (5, 2, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, 1, 100.0000, 1, N'ф')
INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (6, 2, CAST(N'2022-06-27T14:31:42.420' AS DateTime), 2, 1, 1173.0000, 2, NULL)
INSERT [dbo].[Registration] ([RegistrationId], [RunnerId], [RegistrationDateTime], [RaceKitOptionId], [RegistrationStatusId], [Cost], [CharityId], [SponsorshipTarget]) VALUES (7, 10, CAST(N'2022-06-27T15:08:56.983' AS DateTime), 2, 1, 124.0000, 2, NULL)
SET IDENTITY_INSERT [dbo].[Registration] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationEvent] ON 

INSERT [dbo].[RegistrationEvent] ([RegistrationEventId], [RegistrationId], [EventId], [BibNumber], [RaceTime]) VALUES (3, 5, 4, 1, CAST(N'2022-06-24T21:14:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RegistrationEvent] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationStatus] ON 

INSERT [dbo].[RegistrationStatus] ([RegistrationStatusId], [RegistrationStatus]) VALUES (1, N'ф')
SET IDENTITY_INSERT [dbo].[RegistrationStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (3, NULL, 1, 1, N'a', CAST(N'2021-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (4, 1003, 1, 5, N'sdfsdfs', CAST(N'2022-06-26T18:42:25.937' AS DateTime))
INSERT [dbo].[Review] ([ReviewId], [VolunteerId], [MarathonId], [ReviewMark], [ReviewDescription], [ReviewDateTime]) VALUES (5, 1010, 1, 3, N'dxcvfdgdgdfgdfgd', CAST(N'2022-06-27T14:41:52.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'бегун')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'координатор')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (3, N'зритель')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Runner] ON 

INSERT [dbo].[Runner] ([RunnerId], [Email], [Gender], [DateOfBirth], [CountryCode], [Img]) VALUES (2, N'ф@mail.ru', N'Ж', CAST(N'1999-07-07' AS Date), N'RUS       ', NULL)
SET IDENTITY_INSERT [dbo].[Runner] OFF
GO
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (2, 1, 1, CAST(N'12:00:00' AS Time))
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (3, 1, 2, NULL)
INSERT [dbo].[RunnerMarathon] ([RunnerId], [MarathonId], [Position], [Time]) VALUES (6, 1, 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[Sponsor] ON 

INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (2, 1, 2, N'a', N'a', 1, 28, 123, 1000.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (3, 1, 2, N'jj', N'66677777', 9, 65, 543, 50.0000)
INSERT [dbo].[Sponsor] ([SponsorId], [CharityId], [RunnerId], [Name], [CardName], [CardMonth], [CardYear], [CVCCode], [Amount]) VALUES (4, 1, 5, N'Самсон', N'123', 12, 12, 123, 60.0000)
SET IDENTITY_INSERT [dbo].[Sponsor] OFF
GO
SET IDENTITY_INSERT [dbo].[Sponsorship] ON 

INSERT [dbo].[Sponsorship] ([SponsorshipId], [SponsorshipName], [RegistrationId], [Amount]) VALUES (2, N'a', 5, 1.0000)
SET IDENTITY_INSERT [dbo].[Sponsorship] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (2, N'a', N'a', CAST(N'2021-01-01' AS Date), N'1', 1, N'ф@mail.ru', N'a')
INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (5, N'ert', N'ert', CAST(N'2003-02-01' AS Date), N'1', 2, N'coord@ya.ru', N's')
INSERT [dbo].[Staff] ([StaffId], [FirstName], [LastName], [DateOfBirth], [Gender], [PositionId], [Email], [Comments]) VALUES (7, N'йцу', N'йцу', CAST(N'2001-03-01' AS Date), N'1', 1, N'admin@mail.ru', N'й')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET IDENTITY_INSERT [dbo].[Timesheet] ON 

INSERT [dbo].[Timesheet] ([TimesheetId], [StaffId], [StartDateTime], [EndDateTime], [PayAmount]) VALUES (2, 2, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-01-01T10:00:00.000' AS DateTime), 100.0000)
INSERT [dbo].[Timesheet] ([TimesheetId], [StaffId], [StartDateTime], [EndDateTime], [PayAmount]) VALUES (6, 2, CAST(N'2022-01-01T00:00:00.000' AS DateTime), CAST(N'2022-01-01T08:00:00.000' AS DateTime), 100.0000)
SET IDENTITY_INSERT [dbo].[Timesheet] OFF
GO
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'aa1a@mail.ru', N'', N'aaab', N'aaa', 3)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'aaa@mail.ru', N'aaa', N'aaa', N'aaa', 1)
INSERT [dbo].[User] ([Email], [Password], [FirstName], [LastName], [RoleId]) VALUES (N'admin@mail.ru', N'admin', N'Admin', N'Adminovich', 4)
GO
SET IDENTITY_INSERT [dbo].[user3] ON 

INSERT [dbo].[user3] ([MarathonId], [MarathonName], [CityName], [CountryCode], [YearHeld]) VALUES (1, N'Marathon Skills 2016', N'Москва', N'RUS       ', 2022)
SET IDENTITY_INSERT [dbo].[user3] OFF
GO
SET IDENTITY_INSERT [dbo].[Volunteer] ON 

INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (4, N'Леонид', N'Гутин', N'DEU       ', N'М', N'ывавы@main.ru')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (1003, N'zxc', N'zcx', N'RUS       ', N'Ж', N'zrit@mail.ru')
INSERT [dbo].[Volunteer] ([VolunteerId], [FirstName], [LastName], [CountryCode], [Gender], [Email]) VALUES (1010, N'zzz', N'zzz', N'RUS       ', N'Ж', N'z@ya.ru')
SET IDENTITY_INSERT [dbo].[Volunteer] OFF
GO
/****** Object:  Index [IX_FK_RunnerMarathon_user3]    Script Date: 27.06.2022 15:22:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_RunnerMarathon_user3] ON [dbo].[RunnerMarathon]
(
	[MarathonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_EventType] FOREIGN KEY([EventTypeId])
REFERENCES [dbo].[EventType] ([EventTypeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_EventType]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Marathon] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Marathon]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Charity]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RaceKitOption] FOREIGN KEY([RaceKitOptionId])
REFERENCES [dbo].[RaceKitOption] ([RaceKitOptionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RaceKitOption]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_RegistrationStatus] FOREIGN KEY([RegistrationStatusId])
REFERENCES [dbo].[RegistrationStatus] ([RegistrationStatusId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_RegistrationStatus]
GO
ALTER TABLE [dbo].[Registration]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registration] CHECK CONSTRAINT [FK_Registration_Runner]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Event]
GO
ALTER TABLE [dbo].[RegistrationEvent]  WITH CHECK ADD  CONSTRAINT [FK_RegistrationEvent_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
GO
ALTER TABLE [dbo].[RegistrationEvent] CHECK CONSTRAINT [FK_RegistrationEvent_Registration]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_user3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Volunteer] FOREIGN KEY([VolunteerId])
REFERENCES [dbo].[Volunteer] ([VolunteerId])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Volunteer]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Country]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_Gender]
GO
ALTER TABLE [dbo].[Runner]  WITH CHECK ADD  CONSTRAINT [FK_Runner_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Runner] CHECK CONSTRAINT [FK_Runner_User]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_Runner]
GO
ALTER TABLE [dbo].[RunnerMarathon]  WITH CHECK ADD  CONSTRAINT [FK_RunnerMarathon_user3] FOREIGN KEY([MarathonId])
REFERENCES [dbo].[user3] ([MarathonId])
GO
ALTER TABLE [dbo].[RunnerMarathon] CHECK CONSTRAINT [FK_RunnerMarathon_user3]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Charity] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charity] ([CharityId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Charity]
GO
ALTER TABLE [dbo].[Sponsor]  WITH CHECK ADD  CONSTRAINT [FK_Sponsor_Runner] FOREIGN KEY([RunnerId])
REFERENCES [dbo].[Runner] ([RunnerId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsor] CHECK CONSTRAINT [FK_Sponsor_Runner]
GO
ALTER TABLE [dbo].[Sponsorship]  WITH CHECK ADD  CONSTRAINT [FK_Sponsorship_Registration] FOREIGN KEY([RegistrationId])
REFERENCES [dbo].[Registration] ([RegistrationId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sponsorship] CHECK CONSTRAINT [FK_Sponsorship_Registration]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Position] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Position] ([PositionId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Position]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_User]
GO
ALTER TABLE [dbo].[Timesheet]  WITH CHECK ADD  CONSTRAINT [FK_Timesheet_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([StaffId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Timesheet] CHECK CONSTRAINT [FK_Timesheet_Staff]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[user3]  WITH CHECK ADD  CONSTRAINT [FK_Marathon_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user3] CHECK CONSTRAINT [FK_Marathon_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Country] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Country] ([CountryCode])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Country]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_Gender] FOREIGN KEY([Gender])
REFERENCES [dbo].[Gender] ([Gender])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_Gender]
GO
ALTER TABLE [dbo].[Volunteer]  WITH CHECK ADD  CONSTRAINT [FK_Volunteer_User] FOREIGN KEY([Email])
REFERENCES [dbo].[User] ([Email])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Volunteer] CHECK CONSTRAINT [FK_Volunteer_User]
GO
/****** Object:  StoredProcedure [dbo].[proc1]    Script Date: 27.06.2022 15:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[proc1]
@y int
as
select * 
from hotelComments inner join hotels
on hotelComments.id_hotel=hotels.id_hotel
where 
year(creation_date)=@y;

GO
USE [master]
GO
